@import url("https://fonts.googleapis.com/css2?family=Coiny&family=DM+Sans:wght@100;200;300;400;500;600;700;800&family=Sono:wght@400;600;700&display=swap");

.row {
  margin: 0 !important;
}

.nav-link {
  color: var(--colors-text, rgba(21, 20, 57, 0.4)) !important;

  /* Buttons / Small */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
}

.navbar-brand {
  color: var(--colors-heading, #1e0e62) !important;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.293px;
}

.btn-login {
  color: var(--action-primary, #25dac5);

  /* Buttons / Small */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  border: none;
  background-color: #fff;
}

.btn-signup {
  width: 100px;
  height: 40px;
  flex-shrink: 0;

  border-radius: 100px;
  background: var(--action-primary, #25dac5);
  border: none;
  color: #fff;
}

.header-div {
  margin-top: 50px;
  text-align: center;
}

.created-para {
  margin-top: 32px;
}

.btn-create {
  width: 180px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--action-third, #e93a7d);
  border: none;
  color: #fff;
}

.hero-footer1,
.hero-footer2,
.hero-footer3 {
  margin-top: 100px;
  text-align: center;
}
.card {
  border: none !important;
}

.sample-div {
  background-color: #fff;
  margin: auto;
  margin-top: 50px;

  height: 250px;
  color: #1e0e62;
  width: 600px;
  text-align: center;
  padding-top: 10px;
}
.card-title {
  color: var(--colors-heading, #1e0e62);
  text-align: center;

  /* Heading / H3 Title */
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.4px;
  margin-top: 30px !important;
}

.card-text {
  color: var(--colors-text, rgba(21, 20, 57, 0.4));
  text-align: center;

  /* Heading / H5 Lead */
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 145.455% */

  margin-top: -10px !important;
}

@media screen and (max-width: 992px) {
  * {
    font-weight: 700;
    font-family: "DM Sans";
  }

  @-webkit-keyframes fadeBounce {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }
    40% {
      transform: translateY(0);
    }
    55% {
      transform: translateY(-6px);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      transform: translateY(-3px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeBounce {
    0% {
      opacity: 0;
      transform: translateY(-200%);
    }
    40% {
      transform: translateY(0);
    }
    55% {
      transform: translateY(-6px);
    }
    70% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      transform: translateY(-3px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* .trusted-header {
    display: block !important;
    height: 40px;
    margin-bottom: 30px !important;
  } */
  .image-card {
    /* height: 250px !important; */
    /* background-size: cover !important; */
    height: auto;
    margin-top: 30px !important;
  }

  .card-img {
    /* height: auto !important; */
    background-size: cover !important;
    height: 250px;
  }

  .trusted-header {
    /* display: block; */
    /* height: 30px; */
    margin-bottom: 40px !important;
    line-height: 80px !important;
  }

  .sample-div {
    margin: auto;
    margin-top: 15px !important;
    padding-top: 5px;
    width: 80%;
    height: 180px;
  }

  .title-sample {
    margin: 0 auto;
    margin-top: 12px !important;
    line-height: 20px;
    font-size: 20px;
  }

  .text-important {
    line-height: 18px;
    margin-top: 5px;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    word-break: keep-all !important;
    /* word-break: unset !important; */
    /* word-break: keep-all !important; */
  }

  .logodiv {
    opacity: 0;
    height: 200px !important;
    -webkit-animation-name: fadeBounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fadeBounce;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  .pepsi-div {
    -webkit-animation-delay: 0.5s;
    animation-delay: 2.5s;
  }
  .walmart-div {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .azendoo-div {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
  }
  .cnn-div {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  .philips-div {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
  }
  .pizza-div {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  .beanstalk-div {
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
  }
}

.lastsection {
  margin-top: 60px;
}

.logodiv {
  height: 90%;
  background: #ebeaed;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  /* display: block ; */
}

.logoimg {
  width: 50% !important;

  margin: auto;
  margin-top: 10px;
}

.pepsi-img {
  margin-top: 40px;
}

.walmart-img,
.azendoo-img,
.cnn-img,
.philips-img,
.bean-img {
  margin-top: 50px;
}

.philips-img {
  margin-top: 60px;
}
